<a href="https://colab.research.google.com/github/Buraporn-Subsomboon/Buraporn_DTSC3020_Fall2025/blob/main/assignment2_bs0829.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
fruits = ['apple', 'banana', 'orange']
print(fruits)
print(fruits[0])
print(fruits[-2])
print(fruits[-1])

['apple', 'banana', 'orange']
apple
banana
orange

In [3]:
names = ['Alice', 'Micheal', 'Marcus', 'Brenda']
print(names)

['Alice', 'Micheal', 'Marcus', 'Brenda']

In [6]:
vehicles = ['car', 'bus', 'bike', 'motorcycle', 'boat']
vehicles.insert(5, 'train')
print(vehicles)

['car', 'bus', 'bike', 'motorcycle', 'boat', 'train']

In [8]:
foods = ['ramen', 'burger', 'salad', 'pizza', 'sushi', 'pasta']
del foods[2]
print(foods)

['ramen', 'burger', 'pizza', 'sushi', 'pasta']

In [10]:
cities = ['Denton', 'Shanghai', 'Tokyo', 'Bangkok']
cities.sort()
print(cities)

['Bangkok', 'Denton', 'Shanghai', 'Tokyo']

In [12]:
animals = ['tiger', 'giraffe', 'turtle']
for animals in animals:
  print(animals)

tiger
giraffe
turtle

In [15]:
friends = ['Katharina', 'Malisone', 'Reicherin', 'Marin', 'Mason', 'Mallorie']
print(friends[0:3])
print(friends[3:6])

['Katharina', 'Malisone', 'Reicherin']
['Marin', 'Mason', 'Mallorie']

In [16]:
numRange = list(range(1, 11))
print(numRange)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
squares = []
for value in range(1, 6):
  square = value ** 2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25]